$margin: 0.5em;

.manapool {
  background-color: #eeeeee;

  .color {
    display: inline-block;
    border: 1px solid black;
    margin: $margin;
    margin-left: 0;
    border-collapse: collapse;
    padding: 0.2em;
    border-radius: 4px;

    &:first-of-type {
      margin-left: $margin;
    }
  }
}
