$margin: 0.5em;

.manapool {
  background-color: #eeeeee;

  &.highlighted {
    border: 1px solid black;
  }

  .color {
    display: inline-block;
    border: 1px solid black;
    margin: $margin;
    margin-left: 0;
    border-collapse: collapse;
    padding: 0.2em;
    border-radius: 4px;
    cursor: default;

    &:first-of-type {
      margin-left: $margin;
    }

    &.clickable {
      cursor: pointer;
      border-color: red;
    }
  }
}
