.phase {
  border: 1px solid black;

  &.disable {
    background-color: #aaa;
    opacity: 0.5;
  }
}

.activePhase {
  background-color: #414141;
  color: #cecece;
}

.activeStep {
  font-weight: bold;
  color: white;
}
