.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  height: 60px;
  background-color: white;
  font-family: sans-serif;
  font-size: 8px;
  box-sizing: border-box;
  padding-top: 5px;
  text-align: center;

  &.isClickable {
    cursor: pointer;
    border-color: red;
  }

  &.isTapped {
    transform: rotate(90deg);
  }

  &.colorless {
    background-color: #eeeeee;
  }
  &.red {
    background-color: #ffeeee;
  }
  &.black {
    background-color: #555555;
  }
  &.green {
    background-color: #eeffee;
  }
  &.blue {
    background-color: #eeeeff;
  }
  &.white {
    background-color: #ffffff;
  }

  & .nameplate {
    background-color: black;
    color: white;
    padding: 2px 0;
    box-sizing: border-box;
  }
}
